/* Default CSS */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: "Centra", sans-serif !important;
}

h1,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.logo-img {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  transition: 0.32 ease-in-out;
}

nav.navbar.scrolled {
  padding: 18px 0;
  background-color: #121212;
}

#basic-navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav .nav-link.navbar-link.active {
  opacity: 1;
}

.right-content {
  display: flex;
  align-items: center;
}

.social-icon {
  display: flex;
  gap: 10px;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background-color: transparent;
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 80%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.navbar-text button {
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px 18px;
  font-size: 18px;
  margin-left: 18px;
  margin-right: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.navbar-text button span {
  z-index: 1;
}

.navbar-text button::before {
  content: "";
  width: 0;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
}

.navbar-text button:hover {
  color: #121212;
  border-radius: 10px;
}

.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
}

/* Banner */
.banner {
  margin-top: 0;
  padding: 240px 0 240px 0;
  background-image: url(./assets/images/banner-bg.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .tagline {
  font-size: 700;
  letter-spacing: 0.8;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5)
  );
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

.banner p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8;
  line-height: 1.5em;
  width: 50%;
  margin-left: 20px;
  margin-top: 100px;
}

#banner-flex {
  display: flex !important;
  align-content: center !important;
  justify-content: center !important;
  margin-top: 80px !important;
}

.gallery {
  --g: 8px;
  --s: 400px;
  display: grid;
  border-radius: 50%;
  margin-left: 50px;
}

.gallery > img {
  grid-area: 1/1;
  width: 300px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  transform: translate(var(--_x, 0), var(--_y, 0));
  cursor: pointer;
  z-index: 0;
  transition: 0.3s, z-index 0s 0.3s;
}
.gallery img:hover {
  --_i: 1;
  z-index: 1;
  transition: transform 0.2s, clip-path 0.3s 0.2s, z-index 0s;
}
.gallery:hover img {
  transform: translate(0, 0);
}
.gallery > img:nth-child(1) {
  clip-path: polygon(
    50% 50%,
    calc(50% * var(--_i, 0)) calc(120% * var(--_i, 0)),
    0 calc(100% * var(--_i, 0)),
    0 0,
    100% 0,
    100% calc(100% * var(--_i, 0)),
    calc(100% - 50% * var(--_i, 0)) calc(120% * var(--_i, 0))
  );
  --_y: calc(-1 * var(--g));
}
.gallery > img:nth-child(2) {
  clip-path: polygon(
    50% 50%,
    calc(100% - 120% * var(--_i, 0)) calc(50% * var(--_i, 0)),
    calc(100% - 100% * var(--_i, 0)) 0,
    100% 0,
    100% 100%,
    calc(100% - 100% * var(--_i, 0)) 100%,
    calc(100% - 120% * var(--_i, 0)) calc(100% - 50% * var(--_i, 0))
  );
  --_x: var(--g);
}
.gallery > img:nth-child(3) {
  clip-path: polygon(
    50% 50%,
    calc(100% - 50% * var(--_i, 0)) calc(100% - 120% * var(--_i, 0)),
    100% calc(100% - 120% * var(--_i, 0)),
    100% 100%,
    0 100%,
    0 calc(100% - 100% * var(--_i, 0)),
    calc(50% * var(--_i, 0)) calc(100% - 120% * var(--_i, 0))
  );
  --_y: var(--g);
}
.gallery > img:nth-child(4) {
  clip-path: polygon(
    50% 50%,
    calc(120% * var(--_i, 0)) calc(50% * var(--_i, 0)),
    calc(100% * var(--_i, 0)) 0,
    0 0,
    0 100%,
    calc(100% * var(--_i, 0)) 100%,
    calc(120% * var(--_i, 0)) calc(100% - 50% * var(--_i, 0))
  );
  --_x: calc(-1 * var(--g));
}

/* Skills */
.skill {
  padding: 170px 0 170px 0;
  position: relative;
  background-color: #121212;
}

.skill-bx {
  background: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin: -60px;
}

.skill h2 {
  font-size: 45px;
  font-weight: 700;
}

.skill p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  padding: 0 350px;
  margin: 14px auto 30px auto;
}

.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.skill-slider .item img {
  width: 60px;
  height: 60px;
  margin: 0 auto 15px auto;
}

.background-image-left {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

/* Projects */
.project {
  padding: 100px 0;
  background-color: #121212;
  color: #fff;
}

.project h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin-bottom: 10px !important;
}

.project p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

#pills-tab {
  width: 80%;
  margin: 25px auto;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pills-tab .nav-items {
  width: 33.33333%;
}

#pills-tab .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 82px;
  color: #fff;
  font-size: 17px;
  letter-spacing: 0.8px;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}

#pills-tab .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

#pills-tab .nav-link.active::before {
  width: 100% !important;
}

#pills-tab .nav-link.active {
  border: 1px solid rgba(255, 255, 255, 1);
}

.pills-projects {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}

.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0px 55px 55px 0px;
}

.proj-imgbx {
  position: relative;
  border-radius: 30%;
  overflow: hidden;
  width: 600px;
  height: 400px;
  margin-bottom: 24px;
}

.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.proj-imgbx:hover::before {
  height: 100%;
}

.proj-txtx {
  position: absolute;
  text-align: center;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}

.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}

.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}

.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}

.proj-txtx a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
}

/* Contact Form */
.contact {
  background-color: #121212;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 15px;
}

.contact-form {
  background-color: #f5f5f5;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  resize: vertical;
}

.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  width: 100px;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #0056b3;
}

.danger {
  color: red;
}

.success {
  color: green;
}

/* Footer */
.footer {
  background-image: url("./assets/images/footerImg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 0 20px 0;
  margin-left: 20px;
  margin-right: 20px;
}

.newsletter-bx {
  background-color: #fff;
  border-radius: 55px;
  color: #121212;
  padding: 85px 125px;
  margin-bottom: 10px;
  margin-top: 40px;
}

.newsletter-bx h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2em;
}

.new-email-bx {
  background: #fff;
  padding: 5px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}

.new-email-bx::before {
  content: "";
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111111.58%);
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
}

.new-email-bx::after {
  content: "";
  background: #fff;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.new-email-bx input {
  width: 100%;
  color: #121212;
  font-weight: 500;
  background: transparent;
  border: 0;
  padding: 0 15px;
}

.new-email-bx button {
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111111.58%);
  padding: 20px 65px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 19px;
}

.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #b8b8b8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.footer .text-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media query for phone screens */
@media (max-width: 768px) {
  /* NavBar */
  nav.navbar {
    padding: 18px 50px;
    position: fixed;
    width: 100%;
    transition: 0.32 ease-in-out;
  }

  nav.navbar.scrolled {
    padding: 18px 0;
    background-color: #121212;
  }

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
    margin: 0;
  }

  nav.navbar .navbar-nav .nav-link.navbar-link {
    top: 60px;
    width: 100%;
  }

  nav.navbar button {
    display: none;
  }

  .logo-img {
    display: none;
  }

  .social-icon {
    display: none;
  }

  /* Banner */
  .banner img {
    display: none;
  }

  .banner h1 {
    font-size: 35px;
    font-weight: 400;
  }

  .banner p {
    align-items: center;
    justify-content: center;
    color: #b8b8b8;
    font-size: 18px;
    letter-spacing: 0.8;
    line-height: 1.5em;
    width: 85%;
    margin-left: 30px;
    margin-top: 30px;
  }

  /* Projects */
  .project {
    padding: 50px 0;
    background-color: #121212;
    color: #fff;
    text-align: center;
  }

  .project h2 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 10px !important;
  }

  .project p {
    color: #b8b8b8;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 1.5em;
    margin: 0;
    padding: 0 !important;
    text-align: center;
    width: 70%;
  }

  #pills-tab {
    width: 100%;
    margin: 25px auto;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  #pills-tab .nav-items {
    width: 100%;
  }

  #pills-tab .nav-link {
    background-color: transparent;
    border-radius: 0;
    padding: 12px 30px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.5px;
    position: relative;
    text-align: center;
    z-index: 0;
  }

  #pills-tab .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
    top: 0;
    left: 0;
    z-index: -1;
  }

  #pills-tab .nav-link.active::before {
    width: 100% !important;
  }

  #pills-tab .nav-link.active {
    border: 1px solid rgba(255, 255, 255, 1);
  }

  .pills-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .proj-imgbx:hover .proj-txtx {
    top: 50%;
    opacity: 1;
  }

  .nav-link#projects-tabs-tab-first {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px 10px 0 0;
  }

  .nav-link#projects-tabs-tab-second {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }

  .nav-link#projects-tabs-tab-third {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0 0 10px 10px;
  }

  .proj-imgbx {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    margin-bottom: 16px;
  }

  .proj-imgbx::before {
    content: "";
    background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
    opacity: 0.85;
    position: absolute;
    width: 100%;
    height: 0;
    transition: 0.4s ease-in-out;
  }

  .proj-imgbx:hover::before {
    height: 100%;
  }

  .proj-txtx {
    text-align: center;
    margin-top: 15px;
    transition: 0.5s ease-in-out;
    opacity: 1;
    width: 100%;
  }

  .proj-txtx h4 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1.1em;
    margin-bottom: 8px;
  }

  .proj-txtx span {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.5px;
  }

  /* Contact Form */
  .contact-form {
    padding-left: 10px;
  }
}
